body {
  font-size: 15px;
  color: #F2F2F2;
  text-align: center;
  margin: 80px 70px;
  width: 1440px;
  position: relative;
}

h1 {
  text-align: left;
  font-family: 'Big Shoulders Display', cursive;
  padding-left: 15px;
}

p {
  text-align: left;
  width: auto;
  font-family: 'Lexend Deca', sans-serif;
  text-weight: bold;
  line-height: 2;
  font-size: 12px;
  padding: 15px;
}

img {
  margin: 30px 130px auto 10px;
}

.left-container {
  background-color: #F9B208;
  border-radius: 2%;
  width: 200px;
  height: 400px;
  position: absolute;
  top: 50px;
  right: auto;
  bottom: auto;
  left: 200px;
  padding: 10px;
  margin: 20px;
}

.middle-container {
  background-color: #006970;
  width: 200px;
  height: 400px;
  position: absolute;
  top: 50px;
  ;
  right: auto;
  bottom: auto;
  left: 417px;
  padding: 10px;
  margin: 20px;
}

.right-container {
  background-color: #004241;
  border-radius: 2%;
  width: 200px;
  height: 400px;
  position: absolute;
  top: 50px;
  right: auto;
  bottom: auto;
  left: 635px;
  margin: 20px;
  padding: 10px;
}

/**.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
} ***/

.btn {
  -webkit-border-radius: 42;
  -moz-border-radius: 42;
  border-radius: 42px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Lexend Deca', sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #f9b108;
  padding: 10px 20px 10px 20px;
  border: solid #c3c5c7 2px;
  text-decoration: none;
  margin: auto 50px auto 1px;
}

.btn:hover {
  background: #fcfcfc;
  text-decoration: none;
}
.btn1 {
  -webkit-border-radius: 42;
  -moz-border-radius: 42;
  border-radius: 42px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Lexend Deca', sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #006970;
  padding: 10px 20px 10px 20px;
  border: solid #c3c5c7 2px;
  text-decoration: none;
    margin: auto 50px auto 1px;
}

.btn1:hover {
  background: #fcfcfc;
  text-decoration: none;
}
.btn2 {
  -webkit-border-radius: 42;
  -moz-border-radius: 42;
  border-radius: 42px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Lexend Deca', sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #004241;
  padding: 10px 20px 10px 20px;
  border: solid #c3c5c7 2px;
  text-decoration: none;
    margin: auto 50px auto 1px;
}

.btn2:hover {
  background: #fcfcfc;
  text-decoration: none;
}
